# Homework 03

Dataset

In this homework, we will use the Car price dataset.

## Load Dataset

In [43]:
import wget
wget.download('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

'data (1).csv'

In [44]:
import pandas as pd
df = pd.read_csv("data.csv")
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Data Preparation

### Select only the features below and rename MSRP variable to price.

        Make,
        Model,
        Year,
        Engine HP,
        Engine Cylinders,
        Transmission Type,
        Vehicle Style,
        highway MPG,
        city mpg
        MSRP

- Keep only the columns above
- Lowercase the column names and replace spaces with underscores
- Fill the missing values with 0
- Make the price binary (1 if above the average, 0 otherwise) - this will be our target variable above_average
- Split the data into 3 parts: 

        train/validation/test with 60%/20%/20% distribution. 
        Use train_test_split function for that with random_state=1

In [45]:
selected_columns = ["Make",
                    "Model",
                    "Year",
                    "Engine HP",
                    "Engine Cylinders",
                    "Transmission Type",
                    "Vehicle Style",
                    "highway MPG",
                    "city mpg",
                    "MSRP"]

df = df[[*selected_columns]]
df.head()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

### Transform their names using next line

In [46]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [47]:
df.rename(columns={"msrp": "price"}, inplace=True)
df.head(2)

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650

### Make price binary
- Now we need to turn the price variable from numeric into a binary format.
- Let's create a variable above_average which is 1 if the price is above its mean value and 0 otherwise.

In [48]:
mean_price = df['price'].mean()

df['above_average'] = df['price'].apply(lambda x: 1 if x > mean_price else 0)
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500,0

## EDA

### Fill in the missing values of the selected features with 0.

In [49]:
df.count()

make                 11914
model                11914
year                 11914
engine_hp            11845
engine_cylinders     11884
transmission_type    11914
vehicle_style        11914
highway_mpg          11914
city_mpg             11914
price                11914
above_average        11914
dtype: int64

In [50]:
df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
price                 0
above_average         0
dtype: int64

In [51]:
df.fillna(0, inplace=True)
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
above_average        0
dtype: int64

## Split the data
- Split your data in train/val/test sets with 60%/20%/20% distribution.
- Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
- Make sure that the target value (above_average) is not in your dataframe.

### Split the data into train, validation, and test sets (60%/20%/20%)

In [54]:
from sklearn.model_selection import train_test_split

# Split the data into train, validation, and test sets (60%/20%/20%)
X_full_train, X_test, y_full_train, y_test = train_test_split(df.drop(["price", "above_average"], axis=1), df['above_average'], test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_full_train, y_full_train, test_size=0.25, random_state=42)

print("Train set shape:", X_train.shape, round((X_train.shape[0]/df.shape[0])*100), "%")
print("Test set shape:", X_test.shape, round((X_test.shape[0]/df.shape[0])*100), "%")
print("Validation set shape:", X_val.shape, round((X_val.shape[0]/df.shape[0])*100), "%")

Train set shape: (7148, 9) 60 %
Test set shape: (2383, 9) 20 %
Validation set shape: (2383, 9) 20 %

### Question 1: ROC AUC feature importance
- ROC AUC could also be used to evaluate feature importance of numerical variables.

- Let's do that

- For each numerical variable, use it as score and compute AUC with the above_average variable

        - Use the training dataset for that
        - If your AUC is < 0.5, invert this variable by putting "-" in front (e.g. -df_train['engine_hp'])
        - AUC can go below 0.5 if the variable is negatively correlated with the target varialble. 
        - You can change the direction of the correlation by negating this variable - then negative correlation becomes positive.

- Which numerical variable (among the following 4) has the highest AUC?

        engine_hp
        engine_cylinders
        highway_mpg
        city_mpg

In [67]:
from sklearn.metrics import roc_auc_score

# Calculate AUC for each numerical variable
numerical_vars = ['engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']
auc_scores = {}

for var in numerical_vars:
    # Calculate AUC
    auc = roc_auc_score(y_train, X_train[var])
    
    # If AUC < 0.5, invert the variable and re-calculate AUC
    if auc < 0.5:
        auc = roc_auc_score(y_train, -X_train[var])
    
    auc_scores[var] = auc

# Find the variable with the highest AUC
highest_auc_variable = max(auc_scores, key=auc_scores.get)
highest_auc_value = auc_scores[highest_auc_variable]

print("AUC scores for numerical variables:")
print(auc_scores)
print("\nThe numerical variable with the highest AUC is:", highest_auc_variable)
print("AUC value for the highest AUC variable:", highest_auc_value)

AUC scores for numerical variables:
{'engine_hp': 0.9175916846284381, 'engine_cylinders': 0.7688288182162608, 'highway_mpg': 0.6296057218721843, 'city_mpg': 0.6721725830406917}

The numerical variable with the highest AUC is: engine_hp
AUC value for the highest AUC variable: 0.9175916846284381

## Model Development ~ Classification

### Question 2: Training the model
- Apply one-hot-encoding using DictVectorizer and train the logistic regression with these parameters:

        LogisticRegression(solver='liblinear', C=1.0, max_iter=1000)

- What's the AUC of this model on the validation dataset? (round to 3 digits)

In [56]:
X_train.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
7237,Dodge,Nitro,2009,210.0,6.0,AUTOMATIC,4dr SUV,22,16
1618,Dodge,Avenger,2014,283.0,6.0,AUTOMATIC,Sedan,29,19
11091,Chevrolet,Uplander,2008,240.0,6.0,AUTOMATIC,Passenger Minivan,23,16
4822,Suzuki,Forenza,2007,127.0,4.0,MANUAL,Wagon,27,19
5280,Rolls-Royce,Ghost,2012,563.0,12.0,AUTOMATIC,Sedan,20,13

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler, RobustScaler, PowerTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

target = "above_average"

numerics = X_train.select_dtypes(include="number").astype("float64")
categorics = X_train.select_dtypes(include=["object", "category", "bool"])

# numeric_transformer = Pipeline([('Scaler', StandardScaler()), 
#                                 ('R_Scaler', RobustScaler()),
#                                 ('Pw_Scaler', PowerTransformer())])

categorical_transformer = Pipeline([('OHE', OneHotEncoder(handle_unknown="ignore"))])

# transformer = ColumnTransformer([('numeric', numeric_transformer, numerics.columns),
#                                  ('categoric', categorical_transformer, categorics.columns)])

transformer = ColumnTransformer([('categoric', categorical_transformer, categorics.columns)])

pipeline_model_lr = Pipeline([('transform', transformer), ('classification', LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42))])    

pipeline_model_lr.fit(X_train, y_train)

y_val_pred = pipeline_model_lr.predict(X_val)


def eval_metric(y_test, y_pred):
    accuracy = accuracy_score(y_test, y_pred)
    roc_score = roc_auc_score(y_test, y_pred)  # Calculate ROC score
    print("Accuracy on the validation dataset:", round(accuracy, 5))
    print("ROC score on the validation dataset:", round(roc_score, 5))  # Print ROC score
    return accuracy, roc_score


accuracy, roc_score = eval_metric(y_val, y_val_pred)

print("****************************************************************************************************")
print(f"Inputs: {X_train.columns.tolist()}")
print(f"Target: {target}")
print("****************************************************************************************************")
print(f"{pipeline_model_lr[-1]} >> accuracy: {accuracy} ROC: {roc_score}")
print("****************************************************************************************************")

Accuracy on the validation dataset: 0.91985
ROC score on the validation dataset: 0.8939
****************************************************************************************************
Inputs: ['make', 'model', 'year', 'engine_hp', 'engine_cylinders', 'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg']
Target: above_average
****************************************************************************************************
LogisticRegression(max_iter=1000, random_state=42, solver='liblinear') >> accuracy: 0.9198489299202686 ROC: 0.8938975971061924
****************************************************************************************************

### Question 5
- Let's find the least useful feature using the feature elimination technique.
- Train a model with all these features (using the same parameters as in Q4).
- Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
- For each feature, calculate the difference between the original accuracy and the accuracy without the feature.
- Which of following feature has the smallest difference?

        year
        engine_hp
        transmission_type
        city_mpg
        Note: the difference doesn't have to be positive

In [27]:
def eval_metric(y_test, y_pred):
    accuracy = accuracy_score(y_test, y_pred)
    #print("Accuracy on the validation dataset:", round(accuracy, 3))
    return accuracy

for i in X_train.columns:
    X_train = X_train.drop(i, axis=1)
    X_val_ = X_val.drop(i, axis=1)
    numerics = X_train.select_dtypes(include="number").astype("float64")
    categorics = X_train.select_dtypes(include=["object", "category", "bool"])
    transformer = ColumnTransformer([('categoric', categorical_transformer, categorics.columns)])
    pipeline_model_lr = Pipeline([('transform', transformer), ('classification', LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42))])   
    pipeline_model_lr.fit(X_train, y_train)

    y_val_pred = pipeline_model_lr.predict(X_val_)

    accuracy_ = eval_metric(y_val, y_val_pred)
    print(f"Accuracy differencences without '{i}':", round(accuracy_-accuracy, 5))

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

## Model Development ~ Prediction

### Question 6
- For this question, we'll see how to use a linear regression model from Scikit-Learn.
- We'll need to use the original column price. Apply the logarithmic transformation to this column.
- Fit the Ridge regression model on the training data with a solver 'sag'. Set the seed to 42.
- This model also has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10].
- Round your RMSE scores to 3 decimal digits.
- Which of these alphas leads to the best RMSE on the validation set?

        0
        0.01
        0.1
        1
        10

In [441]:
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500,0

In [26]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.linear_model import Ridge
import numpy as np

def eval_metric(y_test, y_pred):
    r2 = r2_score(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    #print(f"rmse score: {rmse.round(3)}")
    return r2, mae, mse, rmse

target = ["price", "above_average"]
X = df.drop(target, axis=1)
y = np.log(df["price"])

X_full_train, X_test, y_full_train, y_test  = train_test_split(X, y, 
                                                               test_size=0.2, 
                                                               random_state=42)

X_train, X_val, y_train, y_val = train_test_split(X_full_train, y_full_train, test_size=0.25, random_state=42)

print("Train set shape:", X_train.shape, round((X_train.shape[0]/df.shape[0])*100), "%")
print("Test set shape:", X_test.shape, round((X_test.shape[0]/df.shape[0])*100), "%")
print("Validation set shape:", X_val.shape, round((X_val.shape[0]/df.shape[0])*100), "%")

numerics = X.select_dtypes(include="number").astype("float64")
categorics = X.select_dtypes(include=["object", "category", "bool"])

categorical_transformer = Pipeline([('OHE', OneHotEncoder(handle_unknown="ignore"))])
transformer = ColumnTransformer([('categoric', categorical_transformer, categorics.columns)])


for alpha in [0, 0.01, 0.1, 1, 10]:
    pipeline_model_lr = Pipeline([('transform', transformer), ('prediction', Ridge(solver="sag", alpha=alpha, random_state=42))])    
    pipeline_model_lr.fit(X_train, y_train)
    y_val_pred = pipeline_model_lr.predict(X_val)
    r2, mae, mse, rmse = eval_metric(y_val, y_val_pred)

    print("****************************************************************************************************")
    print(f"{pipeline_model_lr[-1]} >> r2: {r2}, MAE: {mae}, MSE: {mse}, RMSE: {rmse}")
    print("****************************************************************************************************")

Train set shape: (7148, 9) 60 %
Test set shape: (2383, 9) 20 %
Validation set shape: (2383, 9) 20 %
****************************************************************************************************
Ridge(alpha=0, random_state=42, solver='sag') >> r2: 0.937194266718847, MAE: 0.13061152855497102, MSE: 0.08010183039447959, RMSE: 0.28302266763367134
****************************************************************************************************
****************************************************************************************************
Ridge(alpha=0.01, random_state=42, solver='sag') >> r2: 0.9383712622578388, MAE: 0.13095738809279958, MSE: 0.078600701562541, RMSE: 0.2803581665700876
****************************************************************************************************
****************************************************************************************************
Ridge(alpha=0.1, random_state=42, solver='sag') >> r2: 0.9395161757674235, MAE: 0.13747698846636897, MSE: 0.07714048984348414, RMSE: 0.27774176827312835
****************************************************************************************************
****************************************************************************************************
Ridge(alpha=1, random_state=42, solver='sag') >> r2: 0.9146571176940884, MAE: 0.1925281098508927, MSE: 0.108845494299731, RMSE: 0.3299174052694568
****************************************************************************************************
****************************************************************************************************
Ridge(alpha=10, random_state=42, solver='sag') >> r2: 0.7302720332766708, MAE: 0.3835967264757746, MSE: 0.3440084641063094, RMSE: 0.5865223474909625
****************************************************************************************************